.page {
    position: absolute;
    width: 100%;
    height: 800px;
    left: 0px;
    top: 0px;

    /* Gradient Red */

    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    /* Soft Shadow */

    box-shadow: 0px -0.11px 16.9495px rgba(183, 187, 225, 0.33);
    border-radius: 0px;
    color: white;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;

    position: absolute;
    width: 198px;
    height: 56px;
    left: 621px;
    top: 372px;

    /* White */
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 44px #CFDAE7);
    border-radius: 6px;
    background-color: transparent;

    /*Font*/
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
